h1 
{
    color:darkorchid
}

.class_1
{
    color: #444;
    background: blue;
    text-align: justify;
    font-size: large;
}

#id_1
{
    color: #444;
    background: blue;
    text-align: justify;
    font-size: large;
}
